@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #1c1c1c;
}

canvas {
    display: block;
}

.text-muted {
    color: #a3a3a3 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item {
    padding: 5px;
}

#navbarNav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.action-btn {
    border-radius: 150px;
    font-size: 17px;
    padding: 10px 40px;
}

.hero {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 170px 15px 10px;
}

.hero h1 {
    position: relative;
    z-index: 5;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    perspective: 1000px;
    /* padding-top: 70px; */
}

.hero-img img {
    width: 550px;
    max-width: 100%;
    transform-origin: center;
    /* animation: rotate 20s linear infinite; */
}


.sj-gradient-container {
    display: flex;
    justify-content: center;
}

.sj-background {
    max-width: max-content;
    padding: 1px;
    position: relative;
    z-index: 1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    filter: brightness(120%);
    border-radius: 20px;
    animation: rotate;
}

.sj-gradient {
    background-color: #0b090a;
    padding: 5px 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
}

.hero-container {
    max-width: 800px;
    padding-top: 10px;
}

.project-card {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 0px, rgba(255, 255, 255, 0.20) 0px 0px 0px 1px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.project-card .project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    filter: brightness(40%);
}

.project-logo img {
    width: 160px;
    height: auto;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    z-index: 2;

}

.project-card:hover .project-logo img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.project-card:hover .project-image {
    opacity: 1;
}

.section-head {
    font-size: 45px;
}

.quote-section {
    display: flex;
    justify-content: center;
}

.quote {
    font-size: clamp(20px, 4vw, 30px);
    padding: 100px 15px;
    max-width: 800px;
    border-left: none;
}

#about img {
    margin: auto;
    display: block;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 0px, rgba(255, 255, 255, 0.20) 0px 0px 0px 1px;

}

#about .about-head {
    font-size: clamp(30px, 4vw, 45px);
}

#about .about-content {
    font-size: 18px;
}

.career-description {
    font-size: 16px;
}

.timeline {
    padding: 0;
    list-style: none;
}

.timeline-item {
    border-bottom: 1px solid #2c2c2c;
    margin-bottom: 2rem;
}

#whyme {
    margin-bottom: 100px;
}

#whyme img {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 0px, rgba(255, 255, 255, 0.20) 0px 0px 0px 1px;
    border-radius: 6px;
    background-color: #1b1b1b;
    padding: 9px;
    width: 52px;
    margin-bottom: 5px;
}

#whyme .dev-card {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 0px, rgba(255, 255, 255, 0.20) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: start;
    height: 320px;
    display: flex;
    align-items: center;
}

#whyme .card-body {
    padding: 2rem 2rem;
}

.service-card {
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.testimonial-card {
    transition: transform 0.3s;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.accordion-button {
    background-color: #6c757d;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #495057;
}

.accordion-item {
    border: none;
    margin-bottom: 1rem;
}

#contact {
    position: relative;
    padding: 7rem 0;
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/img/127.png) center center no-repeat;
    background-size: inherit;
    filter: blur(6px) brightness(.7);
    z-index: -1;
}

.mailto-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.mailto-link:hover {
    color: #fff;
}

footer p {
    margin: 0;
}

footer ul {
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    font-size: 14px;
}

.text-fit {
    font-size: clamp(20px, 11.4vw, 500px);
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(to right, #2c2c2c 0%, #7b7b7b 51%, #8b8b8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    ;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
}

.custom-modal-bg {
    background: rgba(255, 255, 255, 0); 
    border-radius: 12px;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.25);
}

.modal.fade .modal-dialog {
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}

.btn-close-white {
    filter: invert(1);
}

.modal-body{
    padding: 2rem!important;
}

.modal-body .title{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.modal-body .btn-close{
    position: absolute;
    top: 25px;
    right: 25px;
}

.modal-body .calendar-frame{
    border-radius: 12px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width:990px) and (max-width:1200px) {
    #whyme .dev-card {
        height: 400px;
    }
}

@media (max-width:990px) {
    #navbarNav {
        background: black;
        border-bottom: 1px solid rgb(91 91 91);
        padding-bottom: 15px;
        border-radius: 10px;
    }
}